* {
    padding: 0;
    color: @color_fg;
    background-color: @color_bg;
}

*:active, *:selected, *:focus {
    color: @color_green;
}

*:hover {
    color: @color_white;
}

*:disabled, *:insensitive {
    color: @color_black;
}



@import url("widgets/buttons.css");
/*@import url("widgets/notebook.css");*/
@import url("widgets/switches.css");
/*@import url("widgets/links.css");*/
@import url("widgets/progressbars.css");
/*@import url("widgets/check-radio.css");*/
/*@import url("widgets/scales.css");*/
/*@import url("widgets/levelbars.css");*/
@import url("widgets/separators.css");
@import url("widgets/menu.css");
@import url("widgets/trough.css");
@import url("widgets/tooltip.css");
@import url("widgets/frame.css");
@import url("widgets/sidebar.css");
@import url("widgets/statusbar.css");
@import url("widgets/notebook.css");
