[submodule "home/.config/luakit/plugins"]
	path = home/.config/luakit/plugins
	url = https://github.com/mason-larobina/luakit-plugins.git
[submodule "home/.config/awesome/awesome-revelation"]
	path = home/.config/awesome/awesome-revelation
	url = https://bioe007@github.com/bioe007/awesome-revelation.git
