*~
home/.config/libreoffice
home/.config/chromium
home/.config/weechat/logs
home/.config/discord
home/.config/pulse
home/.weechat/logs
home/.vim/undo
home/.netrc
home/.vim/plugged
home/.mutt/temp
home/.mutt/attachments
home/.mutt/cache
home/.config/Sqlectron
QtProject.conf
home/.config/qutebrowser/bookmarks/urls
home/.config/qutebrowser/quickmarks
home/.config/yelp
home/.config/enchant
home/.config/ranger/history
home/.config/ranger/bookmarks
home/.config/gtk-3.0/servers
home/.config/gtk-3.0/bookmarks
home/.mutt/accounts
home/.config/dconf/user
home/.config/.mono
home/.config/nautilus
home/.config/cef_user_data
home/.config/KeePass
home/.config/PabloDraw
home/.config/sqlitebrowser
home/.config/qt5ct
home/.config/oomox
home/.vim/.netrwhist
home/.config/menus
home/.config/gedit
home/.config/eog/accels
home/.config/ibus
home/.config/pavucontrol.ini
home/.config/evolution
home/.config/gtk-2.0/gtkfilechooser.ini
home/.local/lib
home/.local/share
home/.config/Signal
home/.config/vlc
home/.config/rclone
home/.weechat/*.log
home/.config/nvim/undo
home/.config/nvim/plugged
