[submodule "home/.config/luakit/plugins"]
	path = home/.config/luakit/plugins
	url = https://github.com/mason-larobina/luakit-plugins.git
[submodule "home/.config/awesome/awesome-revelation"]
	path = home/.config/awesome/awesome-revelation
	url = https://bioe007@github.com/bioe007/awesome-revelation.git
[submodule "home/.config/awesome/lain"]
	path = home/.config/awesome/lain
	url = https://github.com/copycat-killer/lain.git
[submodule "home/.config/awesome/scripts/imgur-screenshot"]
	path = home/.config/awesome/scripts/imgur-screenshot
	url = https://github.com/jomo/imgur-screenshot.git
[submodule "home/.vim/bundle/vim-trailing-whitespace"]
	path = home/.vim/bundle/vim-trailing-whitespace
	url = https://github.com/bronson/vim-trailing-whitespace
[submodule "home/.vim/bundle/vim-startify"]
	path = home/.vim/bundle/vim-startify
	url = https://github.com/mhinz/vim-startify
[submodule "home/.vim/bundle/vim-autoswap"]
	path = home/.vim/bundle/vim-autoswap
	url = https://github.com/gioele/vim-autoswap
[submodule "home/.vim/bundle/easytree.vim"]
	path = home/.vim/bundle/easytree.vim
	url = https://github.com/troydm/easytree.vim
[submodule "home/.vim/bundle/delimitMate"]
	path = home/.vim/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "home/.vim/bundle/skeletons.vim"]
	path = home/.vim/bundle/skeletons.vim
	url = https://github.com/tobyS/skeletons.vim.git
[submodule "home/.vim/bundle/ultisnips"]
	path = home/.vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "home/.vim/bundle/AnsiEsc"]
	path = home/.vim/bundle/AnsiEsc
	url = https://github.com/vim-scripts/AnsiEsc.vim
