# grep through ps
function psgrep()
{
    ps axuf | grep -v grep | grep "$@" -i --color=auto;
}

# mkdir and cd to it
function mkdircd()
{
    if [[ $#  == 0 ]] ; then
        return
    fi

    mkdir "$1"
    cd "$1"
}

# Find in files
# Must supply 1 arg (string).
# Second arg is path (defaults to current dir)
function rgrep (){
    grep -rwn "${1:?please enter one or two args}" -r "${2:-./}"
}
