#define accent0 #DF8C8C
#define accent1 #F2C38F
#define accent2 #DADA93
#define accent3 #A8CE93
#define accent4 #7FC1CA
#define accent5 #83AFE5
#define accent6 #9A93E1
#define accent7 #D18EC2

! [error, vcs deletion]
#define red     accent0

! [syntax] orange - Hack to get another color
#define black   accent1

! [warning, vcs modification]
#define yellow  accent2

! [success, vcs addition]
#define green   accent3

! [syntax]
#define cyan    accent4

! [syntax]
#define blue    accent5

! [syntax, caret/cursor]
#define magenta accent6

! pink - Hack to get another color
#define white   accent7

#define padding     10
#define borderwidth 3

#define shade0  #222222
#define shade1  #333333
#define shade2  #555555
#define shade3  #777777
#define shade4  #999999
#define shade5  #AAAAAA
#define shade6  #CCCCCC
#define shade7  #EEEEEE

#define fg      shade5
#define bg      shade1

! special
*.foreground:   fg
*.background:   bg

*.color0:       black
*.color1:       red
*.color2:       green
*.color3:       yellow
*.color4:       blue
*.color5:       magenta
*.color6:       cyan
*.color7:       white
*.color8:       black
*.color9:       red
*.color10:      green
*.color11:      yellow
*.color12:      blue
*.color13:      magenta
*.color14:      cyan
*.color15:      white

*.font: xft:Terminus:size=10:encoding=ibm862, xft:Symbola
*.boldFont: xft:Terminus:size=10:encoding=ibm862, xft:Symbola

URxvt.scrollBar: false
URxvt.perl-ext-common: selection-to-clipboard,keyboard-select
URxvt.url-launcher: qutebrowser
URxvt.matcher.button: 1
URxvt.colorUL: cyan
URxvt.internalBorder: 10
URxvt.urgentOnBell: true
URxvt.perl-ext: default,url-select
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true
URxvt.keyboard-select.clipboard: true
URxvt.saveLines: 1000000

Term*bellIsUrgent: true

rofi.font: Verdana 10
rofi.separator-style: none
rofi.bw: borderwidth
rofi.color-window: bg, fg, bg
rofi.color-normal: bg, fg, bg, bg, shade6
rofi.color-active: bg, green, bg, bg, green
rofi.color-urgent: bg, red, bg, bg, red
rofi.modi: window,drun,ssh
