#define fg          #888888
#define bg          #222222

#define black       #4A4A4A
#define red         #CC6666
#define green       #B5BD68
#define yellow      #F0C674
#define blue        #81A2BE
#define magenta     #B294BB
#define cyan        #8ABEB7
#define white       #EEEEEE

#define padding     10
#define borderwidth 3

*.font: xft:Terminus:size=10:encoding=ibm862, xft:Symbola
*.boldFont: xft:Terminus:size=10:encoding=ibm862, xft:Symbola

! special
*.foreground:   fg
*.background:   bg
*.cursorColor:  fg

! black
*.color0:       black
*.color8:       black

! red
*.color1:       red
*.color9:       red

! green
*.color2:       green
*.color10:      green

! yellow
*.color3:       yellow
*.color11:      yellow

! blue
*.color4:       blue
*.color12:      blue

! magenta
*.color5:       magenta
*.color13:      magenta

! cyan
*.color6:       cyan
*.color14:      cyan

! white
*.color7:       white
*.color15:      white

URxvt.scrollBar: false
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: x-www-browser
URxvt.matcher.button: 1
URxvt.colorUL: cyan
URxvt.internalBorder:  padding
URxvt.urgentOnBell: true
URxvt.perl-ext: default,url-select
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true

Term*bellIsUrgent: true

rofi.font: Terminus 10
rofi.separator-style: none
rofi.bw: borderwidth
rofi.color-window: bg, fg, bg
rofi.color-normal: bg, fg, bg, bg, white
rofi.color-active: bg, green, bg, bg, green
rofi.color-urgent: bg, red, bg, bg, red
rofi.modi: window,drun,ssh
