levelbar block {
  min-width: 32px;
  min-height: 1px;
}

levelbar.vertical block {
  min-width: 1px;
  min-height: 32px; 
}

levelbar trough {
  border: none;
  padding: 3px;
  border-radius: 4px;
  background-color: #656565;
}
