.notebook tab.top {
    padding: 6px 8px 8px 8px;
}

.notebook tab.bottom {
    padding: 8px 8px 6px 8px;
}

.notebook tab.left {
    padding: 8px;
}

.notebook tab.right {
    padding: 8px;
}

.notebook tab GtkLabel {
    background: none;
    color: @color_gray;
}

.notebook tab:active GtkLabel,
.notebook .active-page,
.notebook tab .active-page GtkLabel {
    color: @color_green;
}
