.content-view .menu,
.context-menu,
.menu,
.popup {
    color: @color_gray;
}

.menuitem,
.menu .menuitem,
.popup .menuitem {
    padding: 6px 4px;
}

.menuitem:active,
.menu .menuitem:active,
.popup .menuitem:active {
    color: @color_green;
}

.menuitem:hover,
.menu .menuitem:hover,
.popup .menuitem:hover {
    color: @color_white;
}

.menuitem:insensitive,
.menu .menuitem:insensitive {
    color: @color_lighter_black;
}

.menu .menuitem.arrow {
    color: @color_gray;
    -GtkComboBox-arrow-scaling: 0.5;
}

.menu .menuitem.arrow {
    -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
}
.menu .menuitem.arrow:dir(rtl) {
    -gtk-icon-source: -gtk-icontheme("pan-end-symbolic-rtl");
}

/* Separator color */
.menuitem.separator {
    padding-left: 2px;
    padding-right: 2px;
    border: none;
    color: @color_lighter_black;
    -GtkMenuItem-horizontal-padding: 0;
    -GtkWidget-separator-height: 1;
}

.menuitem .entry {
    border: none;
    background-color: @base;
    background-image: none;
    color: @color_gray;
}

.menuitem .entry:active,
.menuitem .entry:focus {
    border: none;
}

/* Accelerators */
.menuitem .accelerator,
.menuitem .accelerator:insensitive {
    background: none;
    color: @insensitive_text;
}

.menuitem .accelerator:hover,
.menuitem .accelerator:active {
    background: none;
}


/* Menu Text */
.menuitem GtkLabel {
    padding-left: 2px;
    padding-right: 2px;
    color: @color_gray;
}

/* Menu Text */
.menuitem GtkLabel:insensitive {
    color: @color_red;
}

.menu .menuitem GtkLabel,
.popup .menuitem GtkLabel {
    padding-left: 6px;
}

/* Menu Image */
.menuitem GtkImage {
    padding-left: 2px;
    padding-right: 2px;
    color: @color_white;
}

.menu .menuitem GtkImage,
.popup .menuitem GtkImage {
    padding-left: 6px;
}
